@{
    ViewData["Title"] = "Inicio";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Inicio</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Bienvenido</h4>
                            <h5 class="card-subtitle">eraComputacion System</h5>
                        </div>
                    </div>
                    <div class="row">
                        <a asp-action="Login" asp-controller="Account">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
